.accordion-group {
  margin-bottom: 60px;
}

.accordion-title {
  border-bottom: 1px solid transparentize($prh-navy-lt, 0.75);
  margin-bottom: 0;

  button {
    -webkit-appearance: none;
    background: none;
    border: 0;
    color: inherit;
    display: block;
    font: inherit;
    margin: 0;
    padding: 0.75em 20px;
    text-align: left;
    width: 100%;
  }
}

.accordion-content {
  padding: 1em 20px;
}

[id*="accordion-label"] {

  position: relative;

  &::after {
    content: "+";
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &[aria-expanded="true"] {
    &::after {
      content: "-";
    }
  }
}

[aria-labelledby^="accordion-label"] {
  display: none;
}

[aria-labelledby^="accordion-label"].is-active {
  display: block;
}
