body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-bg-color;
  color: $base-font-color;
  font-size: $base-font-size;
  letter-spacing: $base-font-kerning;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  @include roboto();
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
}

.page-container {
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: $base-page-max-width;
}

.row {
  margin: auto;
  padding: 0;
}

.visually-hidden {
  @include element-invisible();
}

section {
  min-height: 150px;
}
