body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-bg-color;
  color: $base-font-color;
  font-size: $base-font-size;
  letter-spacing: $base-font-kerning;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;

  &.page-template-voices-of-courage,
  &.single-phys_story {
    background-color: color(voc-curve-grey);
  }

  @include roboto();
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
}

.page-container {
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: $base-page-max-width;
}

.row {
  margin: auto;
  padding: 0;
}

.visually-hidden {
  @include element-invisible();
}

section {
  min-height: 150px;
}

// Responsive show/hide helpers
// specificity hack because these come early in the css
// Two declarations here because IE11 doesn't seem to get 'initial' right.
.md-up.md-up {
  display: none;
  @include responsive-mq(md) {
    display: initial;
  }
}

.md-down.md-down {
  @include responsive-mq(md) {
    display: none;
  }
}

// Transitions by default for links and buttons;
// this gets overridden for different effects but it's a good baseline.
a {
  transition: 0.15s color 0s;
}

a.anchor {
  opacity: 0;
}

button {
  transition: 0.15s background-color 0s;
}