body {
  background-color: $base-bg-color;
  color: $base-font-color;
  font-size: $base-font-size;
  letter-spacing: $base-font-kerning;
  line-height: $base-line-height;
  @include roboto();
}

.page-container {
  width: 100%;
}

.page-content {
  margin: 0 auto;
  // max-width: $base-page-max-width;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

section {
  min-height: 150px;
}
