.cta {
  @include roboto();
  background: $prh-navy-lt;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: $medium;
  letter-spacing: 0.2em;
  margin: 20px auto;
  padding: 22px 35px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &::after {
    background: url("../images/optimized/button_arrow.svg") 0 5px no-repeat;
    content: " ";
    display: inline-block;
    height: 17px;
    width: 30px;
  }
}

.cta--red {
  background: $prh-red;
}

.cta-row {
  margin-top: 40px;
}
