.cta,
.home .spotlight-cta {
  @include roboto();
  background-color: color(navy);
  color: #fff;
  display: table;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 30px auto 20px;
  padding: 22px 75px 22px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $fx-duration background-color 0s;
  will-change: background, transform;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:hover {
    background-color: color(button-blue);
  }

  &:focus {
    background-color: color(red);

    &::after {
      background: image("button_arrow-white.svg") 0 0 no-repeat;
    }
  }
}

.cta-row {
  margin-top: 40px;
}

.cta--link {
  display: table;
  padding: 18px 75px 18px 0;
  position: relative;
}

.spotlight-cta {
  font-size: 18px;
  left: 30px; // this makes them look more optically centered, in light of the arrows
  margin: 12px auto 0;

  .home & {
    left: auto;
  }
}

.cta--link::after,
.cta::after {
  background: 0 0 no-repeat;
  background-image: image("button_arrow-lilac.svg");
  content: " ";
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-14px) translateX(0);
  transition: $fx-duration transform 0s;
  width: 50px;
}

.cta:hover::after,
.cta:focus::after {
  transform: translateY(-14px) translateX(8px);
}

.cta--red {
  background-color: color(red);
  transition: $fx-duration background-color 0s;

  &:hover,
  &:focus {
    background-color: color(salmon);
  }

  &::after {
    background-image: image("button_arrow-white.svg");
  }
}

.cta--link:hover {
  outline: none;
}

.cta--link:focus {
  outline: 1px dotted;
}

.cta--link:hover,
.cta--link:focus {
  color: $prh-red;

  &::after {
    background-image: image("button_arrow-red.svg");
    transform: translateY(-14px) translateX(8px);
  }

  .home & {
    &::after {
      background-image: image("button_arrow-lilac.svg");
    }
  }
}

@include responsive-mq("md") {
  .cta {
    display: inline-block;
  }
}


.capsule-link {
  border: none;
  border-radius: 10px;
  display: table;
  font-size: 13px;
  line-height: 1;
  padding: 10px 40px;
  text-decoration: none;

  .site-footer & {
    background-color: color(smoke);
    border-radius: 0;
    color: color(navy);

    &:hover,
    &:focus {
      background-color: color(red);
    }
  }
}
