// Page sections with curvy edges? Sure! 

// THE IDEA
// Background color alternates - one module on peach, one on cream, repeated.
// Curve shape also alternates between ^ [arc] and ~ [wave].

// TRICKY PARTS
// - Must be flexible to both browser window size and content size
// - Has to work no matter how many modules are on a page, what's in them, or their order
// - Should gracefully degrade in unsupported browsers (ie fall back to straight edges)
// - Some modules are a little special, design-wise

// HOW IT WORKS
// Basically, we position curve-shape svgs above each module - fills match module bgs -
// and are transparent above the curve line. (If we ever need to change
// the shape of the curve, these svgs are what you want to edit.)

// Say our page has modules A, B, and C. The curve between A/B comes from the
// ::before on B. The curve between B/C comes from the ::before on C. Etc.
// Bottom padding on each module creates space for the curve below it.

// Note the unique rules for the footer and donate modules -
// the donate one in particular handles its top curve differently
// (curve image laid _on_ content vs curve prepended _above_ content)

// CHANGING SCOPE?
// The `.page-template` class covers a lot in Wordpress, so curves will show up 
// everywhere but single posts, basically. If you need to exclude a specific template,
// you may want to use (:not) selectors to do so.


// I ended up breaking the different curve/color styles out into mixins,
// since the selector logic that wraps them can get complex.
// Allows for setting the bg or just the curve image, with !important flags or not, for various use cases.
// You can use 'cream' or 'peach' as $color; anything else will fall back to cream.


@mixin module-curves($color: cream, $set-color: true, $important: false) {
  $peach-wave-img: "curves/peach-curve--arc.svg";
  $cream-wave-img: "curves/cream-curve--wave.svg";

  $bg-color: if($color == peach, color(peach), color(cream));
  $img: if($color == peach, $peach-wave-img, $cream-wave-img);
  $i: if($important, !important, null);

  @if $set-color {
    background-color: $bg-color $i;
  }

  &::before {
    background-image: image($img) $i;
  }
}

@mixin voc-module-curves($color: voc-curve-grey, $set-color: true, $important: false) {
  $voc-wave-img: "curves/voc-curve--wave2.svg";
  $voc-wave-img2: "curves/voc-curve--wave.svg";

  $bg-color: if($color == voc-curve-grey, color(voc-curve-grey), #fff);
  $img: if($color == voc-curve-grey, $voc-wave-img, $voc-wave-img2);
  $i: if($important, !important, null);

  @if $set-color {
    background-color: $bg-color $i;
  }

  &::before {
    background-image: image($img) $i;
  }
}


@mixin donate-module-curves() {
  $odd-arc-img: "curves/cream-arc--concave.svg";
  $even-arc-img: "curves/peach-arc--concave.svg";

  &::before {
    background-position: top center;
    top: -5px !important;
  }

  &:nth-child(odd) {
    &::before {
      background-image: image($odd-arc-img) !important;
    }
  }

  &:nth-child(even) {
    &::before {
      background-image: image($even-arc-img) !important;
    }
  }
}


@mixin footer-module-curves() {
  &::before {
    background-image: image("curves/navy-curve--wave.svg") !important;
    background-position: top center;
    background-position-y: 0;
  }
}


///////////////////////////////

.page-template .hero ~ .module,
.story-main-module,
.latest-articles-module,
.footer-module {
  position: relative;

  &::before {
    background-position: bottom center;
    background-position-y: 0; // IE fix
    background-repeat: repeat-x; // 'none' also works here
    background-size: 105vw auto; // slightly over-wide to avoid gaps at the edges
    content: "";
    display: block;
    height: 10vw;
    left: 0;
    margin-top: 5px;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -10vw;
  }
}

.page-template .hero ~ .module {
  padding-bottom: 11vw; // This should be a little more than the curve height set below

  &:nth-child(even) {
    @include module-curves(cream);

    &.stats {
      background-image: image("particles/tan-particles-bg.png");
    }

    .module-overlay {
      fill: color(cream-overlay);
      stroke: color(cream-overlay);
    }
  }

  &:nth-child(odd) {
    @include module-curves(peach);

    &.stats {
      background-image: image("particles/peach-particles-bg.png");
    }

    .module-overlay {
      fill: color(peach-overlay);
      stroke: color(peach-overlay);
    }
  }
}

.page-template-voices-of-courage .hero ~ .module {
  padding-bottom: 10vw; // This should be a little more than the curve height set below

  &:nth-child(even) {
    @include voc-module-curves(voc-curve-grey);


    .module-overlay {
      fill: color(voc-curve-grey);
      stroke: color(voc-curve-grey);
    }
  }

  &:nth-child(odd) {
    @include voc-module-curves(#fff);

    .module-overlay {
      fill: #fff;
      stroke: #fff;
    }
  }
}

body .hero ~ .module {
  &.donate-module {
    @include donate-module-curves;

    &::before {
      background-position-y: -2px; // IE fix
      background-size: 130% auto;
      height: 9vw;
    }
  }

  &.footer-module {
    @include footer-module-curves;
  }
}

// Story template
.story-main-module {
  @include module-curves(cream);
}

// Article template
.latest-articles-module {
  @include module-curves(peach);
  margin-top: 8vw;
  padding-bottom: 11vw;
  padding-top: 30px;
}
