.info-module {

  .cta {
    margin-top: 70px;
  }
}

.info-module__img {
  align-self: center;

}

.columns-1 {
  .info-module--component {
    @extend .row;
  }

  .info-module__img {
    @extend .col-xs-12;
    @extend .col-md-5;
  }

  .info-module__info {
    @extend .col-xs-12;
    @extend .col-md-7;
  }
}

.columns-3 {
  .info-module__title {
    font-size: em(60px);
    justify-content: center;
    letter-spacing: -0.02em;
    line-height: lh(70, 60);
    margin-bottom: 25px;
    margin-top: 70px;
    text-align: center;
  }
}

.info-module__title {
  @include lora();
  color: $prh-navy-lt;
  font-size: em(50px);
  letter-spacing: -0.015em;
  line-height: lh(60, 50);
  margin-bottom: 35px;
}

.info-module__text {
  @include roboto();
  display: block;
  font-size: em(30px);
  font-weight: $light;
  line-height: lh(46, 30);
}

@include responsive-mq("md") {

  .info-module {
    .cta {
      margin-top: 50px;
    }
  }

  .columns-1,
  .columns-3 {
    .info-module__title {
      font-size: em(44px);
      line-height: lh(56, 44);
    }

    .info-module__text {
      font-size: em(18px);
      font-weight: $regular;
      line-height: lh(30, 18);
    }
  }

  .columns-3 {
    .info-module--component {
      flex-basis: 33.3333%;
      padding: 0 1rem;
    }

    .info-module__info {
      text-align: center;
    }

    .info-module__title,
    .info-module__img,
    .info-module__text {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }
}
