.module {
  padding: $v-padding-sm $h-padding-sm;

  &:focus {
    outline: none; // jump-links js allows focusing, but we don't need/want a visual indicator in this case
  }

  img {
    flex-basis: auto;
    height: auto;
    max-width: 100%;
  }

  @include responsive-mq(lg) {
    padding: $v-padding-lg $h-padding-lg;
  }
}

%module-title {
  background-position: bottom right;
  background-repeat: repeat-x;
  display: table;
  margin: 30px auto 50px;
  text-transform: uppercase;

  h2 {
    @extend %eyebrow;
    margin-bottom: 15px;
    padding: 0;
  }

  @include responsive-mq(md) {
    margin-bottom: 80px;
  }
}

.module__title {
  @extend %module-title;

  background-image: image("asset_detail_wave_dk.png");
  color: $base-font-blue;

  .hero & {
    background-image: image("asset_detail_wave.png");
    color: #fff;
  }
}
