.quote-component {
  margin: 36px 0;

  blockquote {
    position: relative;

    p {
      @include lora();
      font-size: em(54px);
      font-style: italic;
      line-height: 1;

      &:before,
      &:after {
        font-size: em(54px);
        @include lora();
        color: $prh-pink-darkest;
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        z-index: -1;
      }

      &:before {
        content: "\201C";
        position: absolute;
        top: -35px;
        left: -30px;
      }

      &:after {
        content: "\201D";
        bottom: 116px;
        right: 30px;
      }
    }

    cite {
      font-size: em(18px);
      font-style: normal;
      line-height: lh(30, 18);
      margin-top: 40px;
      display: inline-block;
    }

    .cite-origin {
      font-style: italic;
    }


  }
}

@include responsive-mq("md") {
  .quote-component {
    margin: 0;
  }
}
