.quote-component {
  blockquote {
    p {
      @include lora();
      font-size: em(54px);
      font-style: italic;
      line-height: 1;
    }

    cite {
      font-size: em(18px);
      line-height: lh(30, 18);
    }
  }
}
