
.social-icons {

  li {
    display: inline-block;

    & + li {
      margin-left: 10px;
    }
  }

  a {

    display: block;
    padding: 5px;
    position: relative;

    &::before {
      cursor: pointer;
      display: block;
      height: 20px;
      margin: auto;
      width: 20px;
    }

    &:focus {
      &::before {
        outline: 1px dotted white;
      }
    }
  }
}


.footer-social,
.social-icons {

  position: relative;
  left: -5px; // lines up the icons with the header

  li {
    display: inline-block;
  }

  a {

    display: block;
    padding: 10px;
    position: relative;

    &::after {
      background: color(red);
      bottom: -3px;
      content: "";
      display: block;
      height: 2px;
      left: 10px;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 10px;
      transform: translateY(4px);
      transition: $fx-duration opacity 0s, $fx-duration transform 0s;
    }

    &::before {
      cursor: pointer;
      display: block;
      height: 20px;
      margin: auto;
      width: 20px;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:focus {
      outline: 1px dotted white;

      &::before {
        outline: none;
      }
    }

    &[href*="facebook"] {
      &::before {
        content: image("icons/icon--facebook.svg");
      }
    }

    &[href*="twitter"] {
      &::before {
        content: image("icons/icon--twitter.svg");
      }
    }

    &[href*="instagram"] {
      &::before {
        content: image("icons/icon--instagram.svg");
      }
    }

    &[href*="tumblr"] {
      &::before {
        content: image("icons/icon--tumblr.svg");
      }
    }
  }
}
