$tab-color: $prh-cream-lightest;
$tab-accordion-padding: 50px;

.tab-accordion {
  padding-bottom: 32px;
  padding-top: 32px;
}

.tab-nav {
  display: none;
}

.tab-nav-ordinal {
  @include lora();
  color: color(blue);
  font-size: em(64px);
  font-style: italic;
  font-weight: 400;
  line-height: lh(60, 64);
  margin-right: 25px;
}

.tab-nav-copy {
  font-size: 18px;
  line-height: lh(28, 18);
}

.tab-nav-title {
  @extend %eyebrow;
  align-content: flex-start;
  color: color(navy);
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.tab-inner {
  clear: both;
  clip: rect(0, 0, 0, 0);
  max-height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.tab-section {
  min-height: 0;

  .icon--plus,
  .icon--minus {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-16px);
  }

  .icon--plus {
    display: inline-block;
  }

  .icon--minus {
    display: none;
  }

  &.active {
    border-bottom: $accordion-border;
    padding-bottom: 32px;

    .icon--plus {
      display: none;
    }

    .icon--minus {
      display: inline-block;
    }
  }

  &:first-of-type {
    border-top: $accordion-border;
  }
}

.tab-section.active .tab-inner {
  clip: auto;
  max-height: 10000px;
  padding-bottom: 30px;
  padding-left: calc(#{$tab-accordion-padding} - 1rem);
  padding-top: 30px;
  position: relative;
  visibility: visible;
}

.tab-section-title {
  -webkit-appearance: none;
  border-bottom: $accordion-border;
  margin: 0;
  position: relative;

  button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font: inherit;
    padding: 30px 30px 30px $tab-accordion-padding;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .active & {
    border-bottom: none;
  }
}

@include responsive-mq("md") {

  .module__tabs {
    padding-left: 70px;
    padding-right: 70px;
  }

  .tab-accordion {
    background: transparent;
    padding: 0;
  }

  .tab-section-title {
    display: none;
  }

  .tab-section {
    background: $tab-color;
    clip: rect(0, 0, 0, 0);
    margin-bottom: 32px;
    padding: 32px 0;
    position: absolute;
    visibility: hidden;

    &.active,
    &.active:not(:last-of-type) {
      border: 0;
      clip: auto;
      position: relative;
      visibility: visible;
    }
  }

  .tab-nav {
    border-bottom: none;
    display: flex;
    left: 0;
    max-width: none;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transform: none;
    width: 100%;
  }

  .tab-nav-title {
    align-items: flex-start;
    display: flex;
    margin-right: 30px;
    max-width: 25%;
    padding: 0 0 65px;
    position: relative;
    text-decoration: none;
    width: 25%;

    &.active {
      &::after {
        border-bottom: 35px solid $tab-color;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-top: 35px solid transparent;
        bottom: 0;
        content: " ";
        display: block;
        height: 0;
        left: -18px;
        position: absolute;
        width: 0;
      }
    }
  }
}
