.aggregate-tile {
  margin-bottom: 1rem;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;

    .tile__container {
      background: $prh-cream-lightest;
    }
  }

  &:focus {
    .tile__container {
      outline: 1px dotted $prh-blue-lt;
    }
  }
}

.tile__container {
  background: $prh-cream-lt;
  color: #999;
  padding: 25px 35px;
}

.tile__type--container {
  align-content: center;
  display: flex;
  height: 36px;
  margin-bottom: 45px;
  min-height: 36px;
  position: relative;
}

.tile__type {
  @extend %eyebrow;
  color: $base-font-gray;
  display: block;
  font-size: em(12px);
  margin-bottom: 15px;
}

.tile__title {
  @extend %h3;
}

.tile__source {
  background: $prh-navy-dk;
  border-radius: 50%;
  height: 36px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}

.tile__date {
  @include roboto();

  display: block;
  font-size: 14px;
  line-height: em(14/26);
  margin-bottom: 15px;
}

.tile__summary {
  @include roboto();

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: $prh-navy-dk;
  display: -webkit-box;
  font-size: 16px;
  font-weight: $regular;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
