.aggregate-tile {
  padding-bottom: 1.2rem;
  text-decoration: none;

  .tile__container {
    transition: 0.15s background-color 0s;
  }

  &:focus,
  &:hover {
    outline: none;

    .tile__container {
      background-color: color(white);

      &.voc {
        background: none;
      }

      .tile__voc-hover {
        opacity: 1;
      }

    }
  }

  &:focus {
    .tile__container {
      outline: 1px dotted $prh-blue-lt;

      &.voc {
        outline: none;
      }

    }
  }
}

.tile__container {
  background-color: $prh-cream-lightest;
  color: #999;
  cursor: pointer;
  padding: 25px 35px;

  &.voc {
    background: none;
    position: relative;
  }
}

.tile__type--container {
  align-content: center;
  display: flex;
  height: 36px;
  margin-bottom: 45px;
  min-height: 36px;
  position: relative;
}

.tile__type {
  @extend %eyebrow;
  color: $base-font-gray;
  display: block;
  font-size: em(12px);
  margin-bottom: 15px;
}

.tile__title {
  @extend %h3;

  &.voc {
    @include roboto;
    color: color(white);
  }
}

.tile__source {
  background-color: $prh-navy-dk;
  border-radius: 50%;
  height: 36px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}

.tile__date {
  @include roboto();

  display: block;
  font-size: 14px;
  line-height: em(14/26);
  margin-bottom: 15px;
}

.tile__summary {
  @include roboto();

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: $prh-navy-dk;
  display: -webkit-box;
  font-size: 16px;
  font-weight: $regular;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile__voc-hover {
  background-color: purple;
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  justify-content: center;
  left: 35px;
  opacity: 0;
  padding: 25px 35px;
  position: absolute;
  top: 25px;
  width: calc(100% - 70px);
}



.tile__story-num {
  font-weight: $bold;
}