//THIS IS WHERE TYPOGRAPHY STYLING SHOULD GO...

%headline {
  letter-spacing: em((-25/1000), 54px);
  line-height: 1.25;
  @include lora();
}

%h1 {
  @extend %headline;
  font-size: 30px;

  @include responsive-mq("sm") {
    font-size: 54px;
  }
}

h1 { @extend %h1; }

%h3 {
  @include lora();
  color: $prh-navy-lt;
  font-weight: $bold;
  line-height: (34 / 26);
  margin-bottom: em(20px, 26px);
}

h3 {
  @extend %h3;

  font-size: 26px;
}

.underline {
  background-image: linear-gradient(to bottom, currentColor 33%, transparent 33%);
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}

%eyebrow {
  @include roboto-condensed;
  font-size: em(12px);
  letter-spacing: 0.3em;
  line-height: (22 / 20);
  text-transform: uppercase;

  @include responsive-mq("sm") {
    font-size: em(14px);
  }
}

.eyebrow {
  @extend %eyebrow;
}

p {
  font-size: 18px;
  letter-spacing: em((25px / 1000px), 18px);
  line-height: (30 / 18);
  margin-bottom: em(20px, 18px);
  max-width: 50em;
}

.lead-copy {
  @extend %headline;
  font-size: em(22px);
  line-height: (42 / 22);
}
