//THIS IS WHERE TYPOGRAPHY STYLING SHOULD GO...

@for $index from 1 through 6 {
  h#{$index} {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    @include roboto();
  }
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 54px;
  letter-spacing: 1.1px;
  line-height: 1.35;
  text-rendering: optimizeLegibility;
}

h2{

}

h3{
  font-size: 12px;
  letter-spacing: .15em;
  font-weight: $medium;
}

h4{

}

h5{

}

h6{

}

.dark-blue{
  color: $base-font-blue;
}

.underline {
  text-decoration: underline;
}
