//THIS IS WHERE TYPOGRAPHY STYLING SHOULD GO...

@for $index from 1 through 6 {
  h#{$index} {
    color: #fff;
  }
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 54px;
  letter-spacing: 1.1px;
  line-height: 1.35;
  text-rendering: optimizeLegibility;
}

.underline {
  text-decoration: underline;
}
