.quote-component {
  color: $prh-blue-lt;
  margin: 36px 0;

  blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 915px; // avoids long lines
  }
}

blockquote {
  position: relative;

  p {
    @include lora();
    display: inline;
    font-size: em(35px);
    font-style: italic;
    line-height: lh(40, 35);
    margin-bottom: 0;
    padding-left: 30px;
    position: relative;
    z-index: 1;
  }

  cite {
    display: inline-block;
    font-size: em(18px);
    font-style: normal;
    line-height: lh(30, 18);
    margin-top: em(40px, 18px);
  }

  .cite-origin {
    font-style: italic;
  }
}

.quote-icon {
  height: 40px;
  position: absolute;
  width: 60px;
  z-index: -1;
}

.quote-start {
  left: -20px;
  top: 0;
}

.quote-end {
  bottom: 0;
  right: -50px;
  transform: rotate(10deg);
}

@include responsive-mq("lg") {
  .quote-icon {
    height: auto;
    width: 90px;
  }

  .quote-start {
    left: -50px;
    top: -75px;
  }

  .quote-end {
    bottom: -40px;
    right: -80px;
  }
}

@include responsive-mq("lg") {

  blockquote {
    p {
      padding-left: 0;
    }
  }

  .quote-component {
    margin: 0;

    p {
      font-size: em(54px);
    }
  }
}
