# folders and files to be ignored by git

*.DS_store
.DS_store?
._*
.Trashes

.idea/

bin/
tmp/

*.tmp
*.bak
*.log


*.codekit
*.scssc


fe-scaffold/dist/
fe-scaffold/node_modules/
node_modules/

js/bundle.js
js/bundle.js.map
js/bundle.js.LICENSE
static/css/*
static/js/*
