# folders and files to be ignored by git

*.DS_store
.DS_store?
._*
.Trashes

.idea/

bin/
tmp/

*.tmp
*.bak
*.log


*.codekit
*.scssc


fe-scaffold/pub/
fe-scaffold/node_modules/
node_modules/

css/*
js/bundle.js
js/bundle.js.map
