.article-quote {

  margin: 40px 0;

  p {
    @extend h3;

    color: $prh-blue-lt;
    font-style: italic;
    font-weight: normal;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      display: inline;

      &::before,
      &::after {
        content: image("quote_end.svg");
        display: inline-block;
        position: absolute;
        width: 70px;
        z-index: -1;
      }

      &::before {
        transform: rotate(180deg) translateX(30px) translateY(45px);
      }

      &::after {
        transform: rotate(20deg) translateX(-20px);
      }
    }
  }

  cite {
    @include roboto();
    display: block;
    font-size: 14px;
    margin: 0;
    margin-top: 1em;
  }
}

@include responsive-mq(sm) {
  .article-quote--left,
  .article-quote--right {
    width: 24em;
  }

  .article-quote--left {
    float: left;
    padding-right: 40px;
  }

  .article-quote--right {
    float: right;
    padding-left: 40px;
  }
}


// Inline media handling

.main-content {
  font-size: 18px;
  line-height: 1.67;

  figure {
    margin: 40px auto;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  ul,
  ol {
    padding-left: 2em;
  }

  li ul,
  li ol {
    margin-top: 0.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  @include responsive-mq(sm) {
    .alignright {
      float: right;
      margin-left: 40px;
    }

    .alignleft {
      float: left;
      margin-right: 40px;
    }
  }
}

.wp-caption-text {
  @extend .utility-copy;
  color: $prh-gray;
  margin-top: 20px;
}

// Tags & other metadata

.tags-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

a.tag {
  @include lora;
  border: 1px solid;
  border-radius: 20px;
  color: color(blue);
  display: inline-block;
  font-size: 15px;
  line-height: 1.2;
  padding: 10px 14px;
  text-decoration: none;

  &:hover {
    color: color(navy);
  }

  &:focus {
    color: color(red);
  }
}

// Header meta

.article-hero h1 {
  @include responsive-mq("md") {
    font-size: 44px;
  }
}

.post-meta {
  margin-bottom: 75px;
}

.post-byline {
  border-top: 1px solid $border-color-blue;
  clear: both;
  font-style: italic;
  margin-top: 80px;
  padding-top: 15px;

  &:empty {
    display: none;
  }

  p {
    font-size: em(14px);
  }
}

// Media contact
.contact-info {
  display: block;
  font-size: 16px;
  margin-bottom: 0.5em;
  text-decoration: none;

  &::before {
    display: inline-block;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
    width: 16px;
  }

  &[href*="mailto:"]::before {
    content: image("icons/navy/icon--mail.svg");
  }

  &[href*="tel:"]::before {
    content: image("icons/navy/icon--phone.svg");
  }
}
