$mob-header-height: 180px;

$nav-height-sm: 61px;
$nav-height-lg: 80px;

//HERO SECTION
.hero {
  background-image: $gradient-linear-blue;
  background-position: center;
  color: $base-font-white;
  margin-top: $nav-height-sm;
  padding-bottom: 11vw; // creates space for curves
  padding-top: 100px;
  text-align: center;

  .hero__subhead {
    margin: 15px auto 80px;
    padding: 20px 0;
    width: 100%;
  }

  .hero__link {
    color: inherit;
    text-decoration: none;
  }

  .jump-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 14px;
    line-height: lh(24, 14);
    margin: 0 2vw;
    padding-bottom: 1px;
    white-space: nowrap;

    @include responsive-mq(md) {
      font-size: 18px;
    }

    &.lta {
      .hero__subhead {
        margin: 15px auto;
      }
    }
  }
}

@include responsive-mq("sm") {
  .hero {
    .hero__subhead {
      width: 75%;
    }
  }
}

@include responsive-mq("lg") {
  .hero {
    margin-top: $nav-height-lg;
  }
}

.article-hero {
  padding-bottom: 60px;
  text-align: left;

  h1 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }
}

.shiny-hero {
  background-image: image("particles/hero-particles.png"), $gradient-linear-blue;
  background-size: auto 150%, auto;

  &.voc {
    background-image: image("particles/hero-voc.jpg"), $gradient-voc-linear-blue;
  }

  &.voc,
  &.lta {
    background-size: auto 100%;
    padding-bottom: 26em;
    position: relative;

    h1 {
      @extend %big-h1;
      @include roboto-slab;

      margin-top: 8rem;
      word-spacing: 5px;

      span {
        @include roboto-slab-black;
      }

      .header__subhead {
        @include roboto;
        font-size: 28px;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }

  &.voc-story {
    background-image: image("particles/hero-story-voc.png"), $gradient-voc-linear-blue;
    background-size: auto 100%;
    padding-bottom: 28em;
    position: relative;
  }

  .home & {
    background-size: auto 100%, auto;
  }

  @include responsive-mq(lg) {
    background-size: auto, auto;

    // &.voc {
    //   background-size: auto 100%;
    // }

  }

  .hero__header {
    margin: auto;
    max-width: 20em;
  }

  &::after {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.story-hero {
  background-image: image("particles/story-particles.png"), $gradient-linear-blue;
  background-repeat: no-repeat, repeat-x;
  background-size: auto, auto;
  text-align: left;
}

.home .hero {
  position: relative;
}

