// ROBOTO
@mixin roboto {
  font-family: $roboto;
  font-style: normal;
  font-weight: $regular;
}

// ROBOTO CONDENSED
@mixin roboto-condensed {
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: $bold;
}

// ROBOTO CONDENSED
@mixin roboto-black {
  font-family: $roboto;
  font-style: normal;
  font-weight: $black;
}
// LORA
@mixin lora {
  font-family: $lora;
  font-style: normal;
}

// ROBOTO SLAB
@mixin roboto-slab {
  font-family: $roboto-slab;
  font-style: normal;
  font-weight: $regular;
}

// ROBOTO SLAB
@mixin roboto-slab-black {
  font-family: $roboto-slab;
  font-style: normal;
  font-weight: $black;
}