%svg {
  display: inline-block;
  stroke: $base-font-blue;
  vertical-align: middle;
}

.icon--carat {
  @extend %svg;
  height: 50px;
  transform-origin: 50% 50%;
  width: 40px;
}

.icon--close,
.icon--plus,
.icon--minus {
  @extend %svg;
  height: 34px;
  width: 34px;
}

.icon--search,
.icon--person {
  @extend %svg;
  height: 50px;
  width: 50px;
}


.icon--squiggle {
  @extend %svg;
}

.icon--plus,
.icon-minus {
  fill: $base-font-blue;
}

.icon--menu,
.icon--close {
  @extend %svg;
  height: 25px;
  width: 30px;
}
