%svg {
  display: inline-block;
  stroke: $base-font-blue;
  vertical-align: middle;
}

.icon--carat {
  @extend %svg;
  height: 50px;
  transform-origin: 50% 50%;
  width: 40px;
}

.icon--close {
  @extend %svg;
  height: 34px;
  width: 34px;
}

.icon--search {
  @extend %svg;
  height: 50px;
  width: 50px;
}

.icon--person {
  @extend %svg;
  height: 50px;
  width: 50px;
}

.icon--squiggle {
  @extend %svg;
}

.icon--plus {
  @extend %svg;
  fill: $base-font-blue;
  height: 32px;
  width: 32px;
}

.icon--minus {
  @extend %svg;
  height: 32px;
  width: 32px;
}

.icon--menu {
  @extend %svg;
  height: 25px;
  width: 30px;
}
