//------------------------------------------------
//  BASE SITE VARS
//------------------------------------------------

//COLORS DEFINITIONS

$colors: (
  white: #fff,
  sand: #f3ebde,
  paper: #fff7f1,
  tan: #f1ebe6,

  red: #E84D6A,
  peach: #FFD1C7,

  gray: #999,
  black: #333,

  blue: #006bb8,
  navy: #2e3563,
  sky: #b7d5fb,

  hairline: #b8b2bc
);

@function color($which) {
  @if not map-has-key($colors, $which) {
    @warn "`#{$which}` isn't a valid color. Colors available: `#{map-keys($map)}`" 
  }
  @else {
    @return map-get($colors, $which);
  }
}


$prh-blue-lt: #2b83c6;
$prh-blue-highlight: #428dc7;
$prh-blue-dk: #2a548c;
$prh-pink-lt: #fed1c8;
$prh-pink-dk: #fabbb5;
$prh-pink-darkest: #f1c1b3;
$prh-cream-lightest: #fff7f1;
$prh-cream-lt: #fff1e6;
$prh-cream-dk: #f9dcc6;
$prh-navy-lt: #2e3563;
$prh-navy-dk: #1f3e72;
$prh-purple-lt: #a5aee7;
$prh-purple-dk: #c0c6e9;
$prh-gray: #777;
$prh-red: #e5576c;
$prh-rose: #ae2234;
$prh-rose-lt: #e37c8e;
$prh-periwinkle: #6877ba;


//GRADIENTS
$gradient-linear-blue: linear-gradient(to bottom, $prh-blue-lt 25%, $prh-blue-dk 100%);
$gradient-radial-blue: radial-gradient(farthest-corner at 150px 150px , $prh-blue-lt 0%, $prh-blue-dk 100%);

$gradient-linear-pink: linear-gradient(to bottom, $prh-pink-lt 0%, $prh-pink-dk 75%);
$gradient-radial-pink: radial-gradient(farthest-corner at 50px 50px , $prh-pink-lt 0%, $prh-pink-dk 100%);

$gradient-linear-rose: linear-gradient(30deg, $prh-rose 0%, $prh-rose-lt 66%);


//FONT COLORS
$base-font-white: color(white);
$base-font-blue: color(navy);
$base-font-gray: color(black);

// Eyedroppered; use for hairline-style borders, ie accordions
$border-color-blue: #b8b2bc;

//GENERAL PAGE LAYOUT/CHAR
$base-bg-color: $prh-cream-lt;
$base-color-blue: $prh-blue-lt;
$base-page-max-width: 1320px;
$base-gutter: 4%;


//------------------------------------------------
//  FONTS VARS
//------------------------------------------------
//Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Base Fonts
$lora: "Lora", serif;
$roboto: "Roboto", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

$base-font-family: $roboto;
$base-font-weight: $regular;
$base-font-color: $base-font-blue;
$base-font-kerning: 0;
$base-font-size: 16px;
$base-line-height: 1;

//------------------------------------------------
//  MODULE SPACINGS
//------------------------------------------------
$module-padding-xs: 20px;
$module-padding-lg: 60px;

//------------------------------------------------
//  FLEXBOX GRID BREAKPOINTS
//------------------------------------------------

// Set the number of columns you want to use on your layout.
// $grid-columns: 12 !default;

// Set the gutter between columns.
$gutter-width: 2rem; //use rem

// Set a margin for the container sides.
$outer-margin: 0; //use rem

// Create or remove breakpoints for your project
// Syntax: name SIZErem,
$breakpoints:
xs 40em 38rem,
sm 48em 46rem,
md 62em 61rem,
lg 75em 71rem !default;

$flexboxgrid-max-width: $base-page-max-width;

$breakpointmap: (
  "xs": ( min-width:  40em ),
  "sm": ( min-width:  48em ),
  "md": ( min-width: 62em ),
  "lg": ( min-width: 75em )
);
