.article-quote {

  margin: 40px 0;

  p {
    @extend h3;

    color: $prh-blue-lt;
    font-style: italic;
    font-weight: normal;

    &:last-child {
      margin-bottom: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      background-position: center;
      background-size: 50%;
    }
  }

  cite {
    @include roboto();
    display: block;
    font-size: 14px;
    margin: 0;
  }
}

@include responsive-mq(sm) {
  .article-quote {
    width: 24em;
  }

  .article-quote--left {
    float: left;
    padding-right: 40px;
  }

  .article-quote--right {
    float: right;
    padding-left: 40px;
  }
}


// Inline media handling

.main-content {
  font-size: 18px;
  line-height: 1.67;

  figure {
    margin: 40px auto;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  ul,
  ol {
    padding-left: 2em;
  }

  li {
    margin-bottom: 1em;
  }

  @include responsive-mq(sm) {
    .alignright {
      float: right;
      margin-left: 40px;
    }

    .alignleft {
      float: left;
      margin-right: 40px;
    }
  }
}

.wp-caption-text {
  @extend .utility-copy;
  color: $prh-gray;
  margin-top: 20px;
}

// Tags & other metadata

.tags-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

a.tag {
  @include lora;
  border: 1px solid;
  border-radius: 20px;
  color: color(blue);
  display: inline-block;
  font-size: 15px;
  line-height: 1.2;
  padding: 10px 14px;
  text-decoration: none;

  &:hover {
    color: color(navy);
  }

  &:focus {
    color: color(red);
  }
}

// Header meta

.post-meta {
  margin: 60px 0;
}

.post-byline {
  border-top: 1px solid $border-color-blue;
  font-style: italic;
  margin-top: 80px;
  padding-top: 20px;

  p {
    font-size: em(14px);
  }
}
