$carousel-side-padding: 50px;

.hero-grid {
  margin-left: calc(25% - #{$carousel-side-padding});
}

.carousel {
  margin-right: 10px;
  padding: 0 $carousel-side-padding;
  width: 75%;
}

.slide {
  width: 100%;
}

.flickity-prev-next-button {
  background: transparent;

  &:hover {
    background: transparent;
  }

  .arrow {
    fill: #000;
  }
}

.flickity-page-dots {
  width: calc(100% - 100px);

  .dot {
    background: transparent;
    border: 2px solid $prh-gray;
    margin: 0 5px;
    opacity: 1;

    &.is-selected {
      border-color: #000;
    }
  }
}
