.donate-module {
  background-color: color(navy);
  background-image: image("donate-module.jpg"); // default; can be overridden via cms
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-top: 8vw;
}

.donate-header {
  @extend %h1;
  margin-bottom: 20px;
  margin-top: 120px;
}

.donate-header,
.donate-copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

.donate-copy {
  margin-bottom: 10px;
}

.donate-cta {
  margin-bottom: 120px;
}
