.site-footer {
  background-color: color(navy) !important;
  color: color(white);
  padding-bottom: 100px !important;

  li {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.footer-col {

  margin-bottom: 40px;
  padding: 0 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include responsive-mq(md) {
    border-left: 1px solid transparentize(color(sky), 0.75);
    margin-bottom: 0;
  }
}

.subscribe-link {
  transition: 0.15s background-color 0s;
  margin-top: 26px;
  &:hover {
    background-color: color(red);
  }
}

.footer-title {
  @extend h3;
  color: color(sky);
  font-weight: 400;
}

.footer-eyebrow {
  color: color(sky);
  margin-bottom: 2em;
}

.footer-copy {
  font-size: 14px;
}

.footer-sitemap {

  a {
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 2px;
    position: relative;

    &::after {
      background: color(red);
      bottom: -3px;
      content: "";
      display: block;
      height: 2px;
      opacity: 0;
      position: absolute;
      transform: translateY(4px);
      transition: $fx-duration transform 0s, $fx-duration opacity 0s;
      width: 100%;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  li {
    margin-bottom: 1em;

    @media (max-width: 48em), (min-width: 62em) {
      float: left;
      width: 50%;
    }
  }
}

.footer-social {

  position: relative;
  left: -10px; // lines up the icons with the header

  li {
    display: inline-block;
  }

  a {

    display: block;
    padding: 10px;
    position: relative;

    &::after {
      background: color(red);
      bottom: -3px;
      content: "";
      display: block;
      height: 2px;
      left: 10px;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 10px;
      transform: translateY(4px);
      transition: $fx-duration opacity 0s, $fx-duration transform 0s;
    }

    &::before {
      cursor: pointer;
      display: block;
      height: 20px;
      margin: auto;
      width: 20px;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:focus {
      outline: 1px dotted white;

      &::before {
        outline: none;
      }
    }

    &[href*="facebook"] {
      &::before {
        content: image("icons/icon--facebook.svg");
      }
    }

    &[href*="twitter"] {
      &::before {
        content: image("icons/icon--twitter.svg");
      }
    }

    &[href*="instagram"] {
      &::before {
        content: image("icons/icon--instagram.svg");
      }
    }

    &[href*="tumblr"] {
      &::before {
        content: image("icons/icon--tumblr.svg");
      }
    }
  }
}
