.site-footer {
  background-color: color(navy) !important;
  color: color(white);
  padding-bottom: 100px !important;

  li {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.footer-col {

  margin-bottom: 40px;
  padding: 0 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include responsive-mq(md) {
    border-left: 1px solid transparentize(color(sky), 0.75);
    margin-bottom: 0;
  }
}

.subscribe-link {
  transition: 0.15s background-color 0s;

  &:hover {
    background-color: color(red);
  }
}

.footer-title {
  @extend h3;
  color: color(sky);
  font-weight: 400;
}

.footer-eyebrow {
  color: color(sky);
  margin-bottom: 2em;
}

.footer-copy {
  font-size: 14px;
}

.footer-sitemap {

  a {
    padding-bottom: 2px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 100%;
      display: block;
      background: color(red);
      transition: 0.15s transform 0s, 0.15s opacity 0s;
      opacity: 0;
      transform: translateY(-4px);
    }

    &:hover {
      &::after {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  li {
    margin-bottom: 1em;

    @media (max-width: 48em), (min-width: 62em) {
      float: left;
      width: 50%;
    }
  }
}

.footer-social {

  li {
    display: inline-block;

    & + li {
      margin-left: 10px;
    }
  }

  a {

    display: block;
    padding: 5px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      margin: auto;
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      display: block;
      background: color(red);
      opacity: 0;
      transform: translateY(4px);
      transition: 0.15s opacity 0s, 0.15s transform 0s;
    }

    &::before {
      cursor: pointer;
      display: block;
      height: 20px;
      margin: auto;
      width: 20px;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &:focus {
      &::before {
        outline: 1px dotted white;
      }
    }

    &[href*="facebook"] {
      &::before {
        content: url("../images/optimized/icons/icon--facebook.svg");
      }
    }

    &[href*="twitter"] {
      &::before {
        content: url("../images/optimized/icons/icon--twitter.svg");
      }
    }

    &[href*="instagram"] {
      &::before {
        content: url("../images/optimized/icons/icon--instagram.svg");
      }
    }

    &[href*="tumblr"] {
      &::before {
        content: url("../images/optimized/icons/icon--tumblr.svg");
      }
    }
  }
}
