//HERO SECTION
section#hero{

  padding-top: 150px;
  padding-bottom: 300px;
  background-image: $gradient-radial-blue;

  .hero-grid{

    margin-left: 25%;
    max-width: 75%;

    .hero-item{
      border: 1px solid red;
      h1{
        @include lora();
      }
    }
  }

}




//MEDIA QUERY HANDLERS
@include responsive-mq("xs") {

}

@include responsive-mq("sm") {

  section#hero{
    padding-top: 150px;
  }

}

@include responsive-mq("md") {

}

@include responsive-mq("lg") {

}
