$mob-header-height: 180px;

//HERO SECTION
.hero {
  background-image: $gradient-linear-blue;
  color: $base-font-white;
  padding-top: $mob-header-height;
  text-align: center;

  .hero__subhead {
    margin-top: 15px;
    padding: 20px 0;
  }

  .hero__link {
    color: inherit;
    text-decoration: none;
  }
}

@include responsive-mq("sm") {
  .hero {
    padding-top: 150px;
  }
}


.article-hero {
  text-align: left;

  h1 {
    margin-bottom: 20px;
  }
}
