// nav SECTION
.site-header {
  background-color: $prh-blue-lt;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  .admin-bar & {
    top: 32px;
  }
}

.site-nav {
  // border-bottom: 1px solid rgba(25, 25, 25, 0.2);
  border-bottom: 1px solid transparentize(#fff, 0.75);
  color: #fff;
  font-size: em(16px);
  font-weight: $light;
  letter-spacing: 0.05em;
  margin: auto;
  max-width: $base-page-max-width;

  .menu {
    display: flex;
  }

  a {
    color: #fff;
    display: block;
    padding: 25px 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .sub-menu {
    background: $prh-blue-lt;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .is-expanded .sub-menu {
    display: block;
  }
}

.sub-menu li {
  border-bottom: 1px solid transparentize(#fff, 0.85);
  max-width: $base-page-max-width;
  margin: auto;

  &:last-child {
    border-bottom: 0;
  }
}

.logo {
  max-width: 236px;
}

