// nav SECTION
.site-header {
  background-color: $prh-blue-lt;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;

  svg {
    stroke: #fff;
  }
}

.site-nav-wrap {
  align-items: center;
  border-bottom: 1px solid transparentize(#fff, 0.75);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: $base-page-max-width;

  @include responsive-mq(md) {
    flex-wrap: nowrap;
  }
}


.logo {
  background: url("../images/optimized/logo-small.png") center no-repeat;
  background-size: contain;
  height: 22px;
  left: $module-padding-xs;
  position: relative;
  width: 41px;

  @include responsive-mq(lg) {
    background-image: url("../images/optimized/logo-large.png");
    height: 40px;
    left: 0;
    width: 220px;
  }
}

.site-nav {
  // border-bottom: 1px solid rgba(25, 25, 25, 0.2);
  color: #fff;
  display: none;
  flex: 1 0 100%;
  font-size: em(16px);
  font-weight: $light;
  letter-spacing: 0.05em;
  margin: auto;

  &.is-expanded {
    display: block;
  }

  .menu {
    display: block;

    @include responsive-mq(md) {
      display: flex;
      flex-direction: row;
    }
  }

  a:not(.cta) {
    color: #fff;
    display: block;
    padding: 25px 1em;
    text-decoration: none;
  }

  .donate-btn {
    margin: 0;
  }

  .sub-menu {
    background: $prh-blue-lt;
    display: none;
    left: 0;
    right: 0;
    top: 100%;
    @include responsive-mq(md) {
      position: absolute;
    }
  }

  .is-expanded .sub-menu {
    display: block;
  }
}


.menu-main-menu-container {
  width: 100%;
}

.sub-menu {
  li {
    margin: auto;
    max-width: $base-page-max-width;

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    @include lora;
    font-size: 28px;
  }
}

.menu a {
  border-bottom: 1px solid transparentize(#fff, 0.85);
}

.nav-ui {
  position: relative;
  right: $module-padding-xs;
}



@include responsive-mq(md) {

  .site-header {
    padding-left: 0;
    padding-right: 0;

    svg { height: 30px; }
  }

  .site-nav {
    display: flex;
    flex: 1;
  }

  .nav-ui {
    order: 2;
    right: 0;
  }

  .menu-main-menu-container {
    width: auto;
  }

  .menu a {
    border-bottom-width: 0;
  }

  .sub-menu a {
    border-bottom-width: 1px;
  }

  .menu > li > a {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 2px;
      left: 0;
      margin: auto;
      margin-top: 1em;
      position: absolute;
      right: 0;
      top: 50%;
      width: 80%;
    }

    &:hover {
      &::after {
        background: #fff;
      }
    }

  }

  .menu > .is-expanded > a,
  .menu > li > a:focus {
    &::after {
      background: $prh-red;
    }
  }

  .sub-menu a:hover,
  .sub-menu a:focus {
    background: $prh-blue-highlight;
    color: $prh-pink-darkest;
  }
}


// Handle the wp-admin bar

#wpadminbar {
  position: fixed;
}

#wp-admin-bar-site-name .ab-item {
  max-width: 100px;
}

.admin-bar .site-header {
  padding-top: 45px;
}

@media (min-width: 780px) {
  .admin-bar .site-header {
    padding-top: 32px;
  }
}

