// nav SECTION
nav {
  @include roboto();

  border-bottom: 1px solid rgba(25, 25, 25, 0.2);
  color: #fff;
  font-size: 1em;
  font-weight: $light;
  left: 50%;
  letter-spacing: 0.05em;
  max-width: $base-page-max-width;
  padding: 25px 0;
  position: fixed;
  transform: translateX(-50%);
  width: ( 100% - ( $base-gutter * 2 ) );

  .main-nav-list { //ul
    li {
      .secondary-nav-list { //ul
        max-width: 510px;
        width: 100%;

        li {
          text-align: center;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

img {
  width: 100%;
}

.logo {
  max-width: 236px;
}


//MEDIA QUERY HANDLER
@include responsive-mq("xs") {

}

@include responsive-mq("sm") {
  .secondary-nav-list {
    width: 90%;
  }
}

@include responsive-mq("md") {

}

@include responsive-mq("lg") {

}
