.resources-sidebar {
  position: relative;

  @include responsive-mq("md") {
    &::before {
      background-image: url("../images/optimized/asset_detail_wave_dk--vertical.png");
      background-repeat: repeat-y;
      content: "";
      display: block;
      height: 100%;
      left: -20px;
      position: absolute;
      width: 10px;
    }
  }
}

.sidebar-header {
  @extend %eyebrow;
  margin-bottom: 20px;
}

.sidebar-links {
  @extend .lead-copy;
  list-style: none;
  padding: 0;

  li {
    display: block;
    margin-bottom: 0.5em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
