.overview-text {
  margin-bottom: 40px;

  &.voc {
    h4 {
      @include roboto();

      color: color(voc-blue);
      font-weight: $bold;
    }
  }
}

.resources-sidebar {
  margin-bottom: 50px;
}

.resources-sidebar,
.sidebar-block {
  padding: 0;

  &::before,
  &::after {
    background-image: image("asset_detail_wave_dk.png");
    background-position: center;
    background-repeat: repeat-x;
    content: "";
    display: block;
    height: 10px;
  }

  & + &::before {
    display: none;
  }

  .cta {
    margin-bottom: 0;
  }
}

.resources-content,
.sidebar-content {
  padding: 50px 0;
}

.sidebar-header {
  @extend %eyebrow;
  margin-bottom: 20px;
}

.sidebar-links {
  @extend .lead-copy;
  list-style: none;
  padding: 0;

  li {
    display: block;
    font-size: inherit;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0.25em;
    }

    &::before {
      background-image: image("particles/pink-dot.png");
      content: "";
      display: inline-block;
      height: 15px;
      margin-right: 15px;
      width: 15px;
    }
  }

  a {
    text-decoration: none;
  }
}

.collapsible {
  height: auto;
  max-height: 600vmax;
  overflow: hidden;
  transition: all 0.75s ease;

  &.is-collapsed {
    max-height: 0;
  }

  .no-js &:target {
    max-height: none;
    overflow: visible;
  }
}
