.overview-text {
  margin-bottom: 40px;
}

.resources-sidebar,
.sidebar-block {
  padding: 0;

  &::before,
  &::after {
    background-image: url("../images/optimized/asset_detail_wave_dk.png");
    background-position: center;
    background-repeat: repeat-x;
    content: "";
    display: block;
    height: 10px;
  }

  & + &::before {
    display: none;
  }
}

.resources-content,
.sidebar-content {
  padding: 30px 0;
}

.sidebar-header {
  @extend %eyebrow;
  margin-bottom: 20px;
}

.sidebar-links {
  @extend .lead-copy;
  list-style: none;
  padding: 0;

  li {
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.25em;
    }

    &::before {
      background-image: url("../images/optimized/pink-dot.png");
      content: "";
      display: inline-block;
      height: 15px;
      margin-right: 15px;
      width: 15px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $prh-blue-lt;
    }
  }
}

.collapsible {
  height: auto;
  max-height: 600vmax;
  overflow: hidden;
  transition: all 0.75s ease;

  &.is-collapsed {
    max-height: 0;
  }

  .no-js &:target {
    max-height: none;
    overflow: visible;
  }
}
