
// Search bar

$search-height-lg: 126px;

.search-bar {
  @include lora;
  background-color: color(blue); // TODO: add gradient
  color: color(white);
  display: none;
  font-size: 20px;
  padding: 40px 0;

  .search-open & {
    display: block;
  }

  @include responsive-mq(sm) {
    font-size: 26px;
  }

  @include responsive-mq(md) {
    font-size: 36px;
  }
}

.search-label {
  flex: 0 1 auto;
}

.search-field {
  -webkit-appearance: none;
  background: none;
  border-bottom: 1px solid;
  border: none;
  color: color(white);
  flex: 1;
  font-family: $lora;
  font-size: 20px;
  line-height: 1;
  margin-right: 20px;
  padding: 0;
  position: relative;

  $placeholder-color: transparentize(#fff, 0.15);

  // Has to be specified like this because it's a nonstandard prop
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
  }

  @include responsive-mq(sm) {
    font-size: 26px;
  }

  @include responsive-mq(md) {
    font-size: 36px;
  }
}


////////////////////////////////////////
// Search results view

.search-hero {
  padding: 50px 0 0;

  @include responsive-mq(md) {
    padding-top: 79px;
  }
}

.search-page-title {
  @extend %h3;
  font-size: 28px;
}

// Results list

.search-result {
  border-top: 1px solid color(navy);
  padding: 40px 0;

  &:last-of-type {
    margin-bottom: 40px;

    @include responsive-mq(md) {
      border-bottom: 1px solid color(navy);
    }
  }
}

.result-meta {
  margin-bottom: 30px;
  padding-top: 0.5em;
}

.result-type {
  color: color(navy);
  margin-bottom: 1em;

  @include responsive-mq(md) {
    margin-bottom: 2em;
  }
}

.result-date {
  color: color(gray);
}

.result-title a {
  color: color(navy);
  text-decoration: none;

  &:hover {
    color: color(blue);
  }

  &:focus {
    color: color(red);
  }
}

.result-title ~ p {
  color: color(gray);
}

.result-tags {
  margin-top: 2em;
}


// Filters

.filter-list {
  @include lora;
  padding: 0;

  li {
    color: color(blue);
    font-size: 18px;
    list-style: none;
    margin-bottom: 1em;
  }

  input {
    margin-right: 1em;
  }
}

.checkbox-item {
  .item-label::before {
    background: image("checkbox-background.png") 18px 0;
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: 12px;
    vertical-align: middle;
    width: 18px;
  }

  &.is-checked {
    .item-label::before {
      background-position: 0 0;
    }
  }

  a {
    text-decoration: none;
  }
}

// Active filters

.filter-label {
  margin-right: 1em;
}

.filter-row {
  margin-bottom: 20px;
  margin-top: 40px;
}

.active-filter {
  display: inline-block;
  margin-right: 1em;

  .tag::after {
    content: "×";
    display: inline-block;
    margin-left: 10px;
  }

  .tag:hover,
  .tag:focus {
    &::after {
      color: color(red);
    }
  }
}

.filter-cancel {
  text-align: right;
}


// Pagination

.results-pagination {
  align-items: center;
  display: flex;
  margin: 40px auto;

  .page-numbers {
    color: color(navy);
    padding: 1em;
    text-decoration: none;

    &:hover {
      color: color(blue);
    }

    &:focus {
      color: color(red);
    }
  }

  .prev,
  .next {
    display: inline-block;
    height: 60px;
    margin: 0 1em;
    position: relative;
    width: 30px;

    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .prev {
    &::before {
      background-image: image("carat_prev.png");
    }
  }

  .next {
    &::before {
      background-image: image("carat_next.png");
    }
  }

  .current {
    background-image: image("pagination-circle.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}


// EXPERIMENTAL: new small filter ui

.filter-controls {
  position: absolute;
  width: 100%;
}

@include responsive-mq(md) {
  .filter-controls {
    display: none;
  }
}

.filters-button {
  margin: 0 0 30px;
  padding-right: 35px;

  &::after {
    display: none;
  }
}

.show-filters {
  display: none;
}

.show-filters ~ .search-filters {
  display: none;
}

.show-filters:checked ~ .search-filters {
  display: block;
}

.search-filters {

  .sidebar-content {
    padding: 10px 0;

    @include responsive-mq(md) {
      padding: 50px 0;
    }
  }

  .filter-list {
    overflow: hidden;
  }

  .checkbox-item {
    float: left;
    padding-right: 30px;
  }

  .sidebar-block::before,
  .sidebar-block::after {
    display: none;
  }

  position: absolute;
  background: color(cream);
  margin-top: -20px;
  padding: 30px;
  right: 30px;
  left: 30px;

  &::after {
    content: "";
    display: block;
    background: transparentize(mix(color(navy), color(black)), 0.7);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  @include responsive-mq(md) {
    position: static;
    padding: 0;

    &,
    .show-filters ~ & {
      display: block;
    }

    &::after {
      display: none;
    }

    .filter-list {
      overflow: visible;
    }

    .checkbox-item {
      float: none;
      padding-right: 0;
    }

    .sidebar-block::after,
    .sidebar-block:first-child::before {
      display: block;
    }
  }
}

