%input-text {
  @include roboto;
  font-size: em(14px);
  @include responsive-mq("sm") {
    font-size: em(16px);
  }
}
$input-height: 75px;

.voc-form {
  form {
    display: flex;

    textarea {
      height: 100%;
    }

    textarea,
    input,
    select {
      @extend %input-text;

      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
    }

    textarea::placeholder,
    input::placeholder {
      color: #ccc;
      opacity: 1;
    }

    input,
    select {
      height: $input-height;
    }

    select {
      background-color: #fff;
      color: #ccc;
      width: 100%;
    }

    .input {
      position: relative;
    }

    .inputfile {
      height: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    .inputfile+label {
      @extend %input-text;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      display: flex;
      height: $input-height;
      justify-content: space-between;
      overflow: hidden;
      padding: 0.7em;
      white-space: nowrap;
      width: 100%;
    }

    .inputfile:focus+label {
      outline: 1px dotted #adbdff;
    }

    .inputfile+label span {
      color: #ccc;
    }

    .inputfile+label svg {
      fill: currentColor;
      height: 1em;
      margin-right: 0.25em;
      margin-top: -0.25em;
      vertical-align: middle;
      width: 1em;
    }

    .inputfile+label div.icon {
      height: 20px;
      width: 20px;

      &::before {
        content: image("photo-upload.svg");
        height: 20px;
        width: 20px;
      }
    }

    button {
      height: 88.078px;
      position: relative;

      span {
        @include roboto-condensed;
        color: #fff;
        font-size: 36px;
        font-weight: $bold;
        letter-spacing: 0.2em;
        position: relative;
        z-index: 1;
      }

      svg {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    #story-file-preview {
      opacity: 0;
      width: 60px;
    }
  }

  .col {
    width: 50%;
  }

  .col1 {
    padding-right: 2vw;

    textarea {
      max-width: 100%;
      min-width: 100%;
      padding: 1em;
      width: 100%;
    }
  }

  .col2 {
    align-items: top;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .input {
      margin: 0 0 1vw;
      width: calc(50% - 0.5vw);

      &:nth-child(odd) {
        margin-right: 0.5vw;
      }

      &:nth-child(even) {
        margin-left: 0.5vw;
      }
    }


    input:not([type="file"]) {
      height: $input-height;
      padding: 0.7em;
      width: 100%;
    }

    button {
      height: $input-height;
      width: 100%;
    }
  }
}

.voc-categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0.1em;

    span {
      @include roboto-condensed;
      font-weight: $bold;
      letter-spacing: 0.2em;
      text-align: center;
    }

    .icon {
      background-size: cover;
      height: 200px;
      width: 200px;
    }
  }

  .politics .icon {
    background: image("icons/politics.png") no-repeat 0 0;
  }

  .abortion .icon {
    background: image("icons/abortion.png") no-repeat 0 0;
  }

  .contraception .icon {
    background: image("icons/contraception.png") no-repeat 0 0;
  }

  .health .icon {
    background: image("icons/health.png") no-repeat 0 0;
  }

  .pregnancy .icon {
    background: image("icons/pregnancy.png") no-repeat 0 0;
  }

  .search {
    display: flex;

    div {
      @include roboto;
      border-bottom: 1px solid;
      display: flex;
      width: calc(50% - 2vw);

      input {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: color(black);
        flex: 1;
        font-size: 16px;
        font-weight: $bold;
        line-height: 1;
        padding: 0;
        text-transform: uppercase;
      }

      &:focus {
        outline: 1px dotted #fff;
      }

      &.search-term {
        margin-right: 2vw;

        svg {
          transform: scale(0.85);
        }
      }

      &.search-state {
        margin-left: 2vw;

        svg {
          transform: scale(0.7);
        }
      }

      @include responsive-mq(sm) {
        font-size: 20px;
      }

      @include responsive-mq(md) {
        font-size: 24px;
      }

    }

    input::placeholder {
      color: #b3b3b3;
      opacity: 1;
    }

  }
}