// sass-lint:disable class-name-format no-important
.mceContentBody.wp-editor * {
  color: #000 !important;

  .underline {
    background-image: linear-gradient(to bottom, #000 33%, transparent 33%) !important;
  }
}


pre,
code {
  direction: ltr;
  text-align: left;
}

pre {
  background: #ffffb3;
  border: solid 1px #00f;
  color: #00f;
  font-size: 1.3em;
  margin: 10px;
  padding: 10px;
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
  color: #008099;
  font-size: 1.2em;
}

// sass-lint:enable class-name-format no-important
