@import 'modules/variables';

.style-details {
  margin-bottom: 2em;
}

.style-details::after {
  clear: both;
  content: "";
  display: block;
}

.style-details dt,
.style-details dd {
  float: left;
}

.style-details dt {
  clear: both;
  font-weight: bold;
  margin-right: 2ch;
  width: 10em;
}

.swatch-block {
  background: #fff7f1;
  background-clip: content-box;
  padding: 10px;
  text-align: center;
}

.swatch-label {
  display: block;
  margin: 0 auto 40px;
}

.swatch {
  height: 60px;
  margin: 20px 10px;
}

.swatch-paper,
.swatch-cream {
  outline: 2px solid #f3ebde;
}

.type-samples {
  padding: 40px 0;
}

.type-samples h1,
.type-samples h2,
.type-samples h3,
.type-samples p {
  margin-bottom: 30px;
}

.type-block:first-child {
  margin-bottom: 100px;
}
