@import 'modules/variables';

// Curves in the bg! Currently scoped to certain templates to avoid any weird interactions,
// but it'll be more global eventually.
.hero ~ .module {

  .page-template-styleguide & {
    &:nth-child(even) {
      background-color: color(paper);

      &::before {
        background-image: url("../images/optimized/paper-curve--wave.svg");
      }
    }
  }

}




.style-details {
  margin-bottom: 2em;
}

.style-details::after {
  clear: both;
  content: "";
  display: block;
}

.style-details dt,
.style-details dd {
  float: left;
}

.style-details dt {
  clear: both;
  font-weight: bold;
  margin-right: 2ch;
  width: 10em;
}

.swatch-block {
  background: #fff7f1;
  border: 10px solid #fff1e6;
  text-align: center;
}

.swatch-label {
  display: block;
  margin: 0 auto 40px;
}

.swatch {
  height: 40px;
  margin: 20px auto;
  width: 100%;
}

.swatch-paper,
.swatch-cream {
  outline: 2px solid #f3ebde;
}

.type-samples {
  padding: 40px 0;
}

.type-samples h1,
.type-samples h2,
.type-samples h3,
.type-samples p {
  margin-bottom: 30px;
}

.type-block:first-child {
  margin-bottom: 100px;
}
